body {
    background-color: #dcd7e4;
}
.title{
    color: #5000ca;
}
#transactions-chart {
    margin-top: 20px;
    color: rgb(80, 0, 202);
}

th{
    background-color:  rgb(80, 0, 202) !important;
    color: #fff !important;
}

tr{
    
    position: relative;
    z-index: 9999999;
    border: solid .3px rgb(80, 0, 202)!important;
}
#app {
   
    position: relative;
    background: transparent;
    border: 2px solid #5100ca86;
    background-position: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #4100a186;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    z-index: 9999999999999;
 }
 .layer{
    position: relative;
    background: transparent;
    background-position: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #4100a186;
    display: flex;
    justify-content: center;
   
    flex-direction: column;
    padding: 5%;
    border-radius: 10px;
    z-index: 9999999999999;
 }
 .chart .container{
    position: relative;
    background: transparent;
    background-position: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #4100a186;

  width: 100%;
    flex-direction: column;
    padding: 5%;
    
    margin: 5px;
    border-radius: 10px;
    z-index: 9999999999999;
 }

.circle{
    width: 30%;
    position: absolute;
    right: 0;
    top: -5%;
    
}


.form-control {
    border: #5100ca86 .5px solid;
}
header div{
    background: rgb(81,0,203);
    background: linear-gradient(22deg, rgb(68, 1, 168) 0%, rgba(112,50,208,1) 58%, rgba(117,58,209,1) 62%, rgba(138,90,212,1) 77%);
    
}



.form-group input {
    border-radius: 25px;
    padding: 10px 20px;
    background-color: transparent;
}
.table>:not(caption)>*>*{
      background-color: transparent;
      color: rgb(0, 0, 0);
   
}
table tbody tr{
     transition: all .3s;
}
#customers-table{
    position: relative;
    z-index: 9999999;
}
table tbody tr:hover {
    font-size: 18px;
    font-weight: bold;
    background-color: #5000ca  !important;
    color: hsl(0, 0%, 100%) !important;
    cursor: pointer !important;
    transform: translateX(10px);
}
canvas {
    margin-top: 20px;
}

